@page
@using Acme.FirstAbp.Localization
@using Acme.FirstAbp.Web.Pages.Kullaniciler
@using Microsoft.Extensions.Localization
@model indexModel
@inject IStringLocalizer<FirstAbpResource> L
@section scripts
{
    <abp-script src="/Pages/Kullaniciler/Index.js" />
}
<abp-card>
    <abp-card-header>
        <h2>@L["Kullaniciler"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="KullanicilerTable"></abp-table>
    </abp-card-body>
</abp-card>